/logs/
.vscode/
__pycache__/
accounting_manager/__pycache__/
accounting_manager/migrations/__pycache__/
core/__pycache__/
core/settings/__pycache__/
main/__pycache__/
main/migrations/__pycache__/
main/templatetags/__pycache__/
member/migrations/__pycache__/
member/__pycache__/
broadcast/migrations/__pycache__/
broadcast/__pycache__/
company_user/migrations/__pycache__/
company_user/__pycache__/
parameter/migrations/__pycache__/
parameter/__pycache__/
monitor/migrations/__pycache__/
monitor/__pycache__/
static/static_collection/
db.sqlite3
main/migrations/0*.py
member/migrations/0*.py
broadcast/migrations/0*.py
company_user/migrations/0*.py
parameter/migrations/0*.py
monitor/migrations/0*.py
media/*
*.rdb
factories.py
