{% extends 'base.html' %}
{% block content %}
<div class="container blockquote mt-4" align="justify">
    <h1>الجالية اليمنية فى إندونيسيا</h1>
    <p>
        تأسست الجالية اليمنية بأندونيسيا في الـ 26 من شهر / يونيو 2021 م ، بموجب القانون الإندونيسي، وتتخذ من مدينة
        جاكارتا
        مقرا رئيسيا لها، ومعظم أعضائها جاؤوا إلى إندونيسيا بسبب الظروف الاستثنائية في اليمن والتي شكلت مصدر تهديد حقيقي
        لوجودهم داخل البلاد، ويبلغ عدد أبناء الجالية قرابة 2500 يمني ، وعدد الوافدين إلى إندونيسيا يزداد بشكل مستمر
        نتيجة
        الأوضاع التي تعيشها اليمن
    </p>
    <h2>رسالتنا</h2>
    <p>
        نسعى لخدمة أبناء الجالية اليمنية وتنمية المصالح المشتركة بين اليمن وإندونيسيا من خلال عدد من البرامج والمبادرات
        النوعية.
    </p>
    <h2>أهدافنا</h2>
    <ol type="1">
        <li>
            رعاية مصالح منتسبي الجالية وعائلاتهم وأطفالهم، التعليمية والصحية والقانونية وغيرها، والعمل على حل مشاكلهم
            وتذليل الصعوبات التي تواجههم، بالتعاون مع السفارة والوزارة والجهات المعنية اليمنية والإندونيسية.
        </li>
        <li>
            توثيق صلة منتسبي الجالية بالوطن.
        </li>
        <li>
            توطيد علاقة الأخوة والمحبة والتسامح والتعاون والتكافل الاجتماعي بين أبناء الجالية.
        </li>
        <li>
            تحقيق التكامل في تطبيق آليات الرعاية رسمياً وشعبياً.
        </li>
        <li>
            توحيد طاقات منتسبي الجالية وجمع شملهم ودمجهم وتعزيز مركزهم في المجتمع الإندونيسي بما لا يتعارض مع قوانين
            وتشريعات الجمهورية الإندونيسية.
        </li>
    </ol>
    <h2>قيمنا</h2>
    <p><b>المسئولية – المصداقية – الشفافية – روح الفريق.</b></p>
</div>
{% endblock %}