{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="col m-3">سجل النشاطات</h1>
        <div class="col-2 my-3 mt-4" style="float: left; margin-left: 35px;">
            <select class="form-select shadow rounded" name="activity-filter" id="activity-filter"
                onchange="handleActivityFilterChange(this)">
                <option value="">--------</option>
                {% for key, value in activities.items %}
                <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <a class="col-2 btn btn-lg btn-info my-3 shadow rounded" href="{% url 'MonitorPage' %}"
            style="float: left; margin-left: 35px;">
            رجوع
        </a>
    </div>

    <table class="table table-sm table-striped text-center shadow rounded">
        <thead class="thead-dark">
            <tr>
                <th scope="col">رقم</th>
                <th scope="col">نوع النشاط</th>
                <th scope="col">عنوان الآي بي (IP)</th>
                <th scope="col">التفاصيل</th>
                <th scope="col">التاريخ</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in page_obj %}
            <tr>
                <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                <td>{{ activity.action_type_ar }}</td>
                <td>{{ activity.ip }}</td>
                <td>
                    {% if activity.is_entry %}
                    أسم المستخدم المدخل ({{ activity.username }})
                    {% elif activity.has_details %}
                    {{ activity.username }}
                    {% endif %}
                </td>
                <td>{{ activity.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% block scripts %}
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const selectedOption = urlParams.get('activity-filter');

    const selectElement = document.getElementById('activity-filter');
    if (selectedOption == null) {
        selectElement.value = "";
    } else {
        selectElement.value = selectedOption;
    }

    function handleActivityFilterChange(selectElement) {
        const selectedOption = selectElement.value;
        const url = new URL(window.location);
        url.searchParams.set('activity-filter', selectedOption || '');
        window.location.href = url.href;
    }

    selectElement.addEventListener('change', function () {
        handleActivityFilterChange(this);
    });
</script>
{% endblock scripts %}