{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html dir="rtl" lang="ar">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <!-- CSS Styles -->
        <link rel="stylesheet" type='text/css' href="{% static 'css/styles.css' %}?{% cache_bust %}">
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}?{% cache_bust %}" rel="stylesheet">
        <title>الجالية اليمنية في اندونيسيا</title>
        {% block headers %}{% endblock headers %}
    </head>

    <body class="bg-light">
        {% include 'navbar.html' %}
        {% include 'alerts.html' %}
        {% block content %}{% endblock content %}
        {% include 'pagination.html' %}
    </body>

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap/jquery-3.2.1.slim.min.js' %}?{% cache_bust %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}?{% cache_bust %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}?{% cache_bust %}"></script>
    <script src="{% static 'js/base.js' %}?{% cache_bust %}"></script>
    {% block scripts %}{% endblock scripts %}

</html>