{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mt-5 mb-3">البيانات الشخصية</h1>
{% if person.photograph %}
<div class="card m-auto" style="width: 20rem; height: 20rem;">
    <img class="card-img-top object-fit-cover" style="width: 20rem; height: 20rem;" src="{{ person.photograph.url }}"
        alt="Card image cap">
</div>
{% endif %}
<h2 class="text-center mt-2 mb-3">{{ person.name_ar }}</h2>
<table class="table table-striped text-left container m-auto mt-3 shadow rounded">
    <tbody>
        <tr>
            <td class="col-1">الاسم بالعربي</td>
            <td class="col-1">{{ person.name_ar }}</td>
        </tr>
        <tr>
            <td class="col-1">الاسم بالإنجليزي</td>
            <td class="col-1">{{ person.name_en }}</td>
        </tr>
        <tr>
            <td class="col-1">الجنس</td>
            <td class="col-1">{{ person.getGender }}</td>
        </tr>
        {% if person.passport_number %}
        <tr>
            <td class="col-1">رقم الجواز</td>
            <td class="col-1">{{ person.passport_number }}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="col-1">مكان الميلاد</td>
            <td class="col-1">{{ person.place_of_birth }}</td>
        </tr>
        <tr>
            <td class="col-1">تاريخ الميلاد</td>
            <td class="col-1">{{ person.date_of_birth }}</td>
        </tr>
        <tr>
            <td class="col-1">رقم الهاتف (اتصال)</td>
            <td class="col-1">{{ person.call_number }}</td>
        </tr>
        <tr>
            <td class="col-1">رقم الواتساب</td>
            <td class="col-1">{{ person.whatsapp_number }}</td>
        </tr>
        <tr>
            <td class="col-1">البريد الإلكتروني</td>
            <td class="col-1">{{ person.email }}</td>
        </tr>
        <tr>
            <td class="col-1">الوظيفة</td>
            <td class="col-1">{{ person.getJobTitle }}</td>
        </tr>
        <tr>
            <td class="col-1">فترة الإقامة في إندونيسيا</td>
            <td class="col-1">{{ person.periodOfResidence }}</td>
        </tr>
    </tbody>
</table>

<h2 class="text-center mt-5">البيانات الأكاديمية</h2>
<table class="table table-striped text-left container m-auto mt-3 shadow rounded">
    <tbody>
        <tr>
            <td class="col-1">المؤهل العلمي</td>
            <td class="col-1">{{ person.academic.getAcademicQualification }}</td>
        </tr>
        <tr>
            <td class="col-1">أسم الجامعة / المعهد / المدرسة</td>
            <td class="col-1">{{ person.academic.school|default_if_none:"" }}</td>
        </tr>
        <tr>
            <td class="col-1">التخصص الدراسي </td>
            <td class="col-1">{{ person.academic.major|default_if_none:"" }}</td>
        </tr>
        <tr>
            <td class="col-1">الفصل الدراسي</td>
            <td class="col-1">{{ person.academic.semester|default_if_none:"" }}</td>
        </tr>
    </tbody>
</table>

<h2 class="text-center mt-5">مكان الإقامة الحالية</h2>
<table class="table table-striped text-left container m-auto mt-3 shadow rounded">
    <tbody>
        <tr>
            <td class="col-1">عنوان الشارع</td>
            <td class="col-1">{{ person.address.street_address }}</td>
        </tr>
        <tr>
            <td class="col-1">المنطقة</td>
            <td class="col-1">{{ person.address.district }}</td>
        </tr>
        <tr>
            <td class="col-1">المدينة</td>
            <td class="col-1">{{ person.address.city }}</td>
        </tr>
        <tr>
            <td class="col-1">الولاية</td>
            <td class="col-1">{{ person.address.province }}</td>
        </tr>
        <tr>
            <td class="col-1">الرمز البريدي</td>
            <td class="col-1">{{ person.address.postal_code|default_if_none:"" }}</td>
        </tr>
    </tbody>
</table>

<h2 class="text-center mt-5">المعلومات العائلية</h2>
<table class="table table-striped text-left container m-auto mt-3 shadow rounded">
    <tbody>
        <tr>
            <td class="col-1">الأسم العائلي</td>
            <td class="col-1">{{ person.family_members.family_name }}</td>
        </tr>
        <tr>
            <td class="col-1">عدد أفراد الأسرة التي يعولها في إندونيسيا</td>
            <td class="col-1">{{ person.family_members.member_count|default_if_none:"" }}</td>
        </tr>
    </tbody>
</table>

{% if partners %}
<h5 class="text-center mt-5">الزوج / الزوجة / الزوجات</h5>
<table class="table table-striped text-left container m-auto mt-3 shadow rounded">
    <thead>
        <tr>
            <td class="col-1">الأسم</td>
            <td class="col-1">العمر</td>
        </tr>
    </thead>
    <tbody>
        {% for prt in partners %}
        <tr>
            <td class="col-1">{{ prt.name|default_if_none:"" }}</td>
            <td class="col-1">{{ prt.age|default_if_none:"" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if children %}
<h5 class="text-center mt-5">الأبناء</h5>
<table class="table table-striped text-left container m-auto mt-3 shadow rounded">
    <thead>
        <tr>
            <td class="col-1">الأسم</td>
            <td class="col-1">العمر</td>
        </tr>
    </thead>
    <tbody>
        {% for prt in children %}
        <tr>
            <td class="col-1">{{ prt.name|default_if_none:"" }}</td>
            <td class="col-1">{{ prt.age|default_if_none:"" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if person.membership and person.is_validated %}
<h2 class="text-center mt-5">بيانات العضوية</h2>
<table class="table table-striped text-left container m-auto mt-3 shadow rounded">
    <tbody>
        <tr>
            <td class="col-1">رقم البطاقة</td>
            <td class="col-1">{{ person.membership.card_number }}</td>
        </tr>
        <tr>
            <td class="col-1">نوع العضوية</td>
            <td class="col-1">{{ person.membership.getMembershipType }}</td>
        </tr>
        <tr>
            <td class="col-1">تاريخ الإصدار</td>
            <td class="col-1">{{ person.membership.issue_date }}</td>
        </tr>
        <tr>
            <td class="col-1">تاريخ الانتهاء</td>
            <td class="col-1">{{ person.membership.expire_date }}</td>
        </tr>
    </tbody>
</table>
<div class="card m-auto mt-5" style="width: 45rem; height: 30rem">
    <img class="card-img-top object-fit-cover" style="width: 45rem; height: 30rem;"
        src="{{ person.membership.membership_card.url }}" alt="Card image cap">
</div>
{% endif %}

<h2 class="text-center mt-5">الجواز والإقامة</h2>
<div class="card m-auto mt-5" style="width: 45rem; height: 30rem">
    <img class="card-img-top object-fit-cover" style="width: 45rem; height: 30rem;"
        src="{{ person.passport_photo.url }}" alt="Card image cap">
</div>
<div class="card m-auto mt-5" style="width: 45rem; height: 60rem">
    <img class="card-img-top object-fit-cover" style="width: 45rem; height: 60rem;"
        src="{{ person.residency_photo.url }}" alt="Card image cap">
</div>
<a class="col-2 btn btn-lg btn-info my-3 shadow rounded" style="margin-right: 50px;"
    href="{% url 'Dashboard' 'List' %}">الرجوع إلى القائمة</a>
{% if not person.is_validated %}
<hr>
<form method="POST">
    {% csrf_token %}
    {% if person.is_request_membership %}
    <div class="container">
        <label for="membership" class="mt-3 lead">لقد طلب صاحب السجل هذا عضوية جديدة، فهل توافق على منحة
            العضوية؟</label>
        <select id="membership" name="membership" class="form-select mt-1 mb-3 w-25 shadow rounded"
            onchange="enableMembershipTypeOption()">
            <option value="1">نعم</option>
            <option value="0">لا</option>
        </select>
        <label for="membership_type" class="mt-3 lead">نوع العضوية</label>
        <select id="membership_type" name="membership_type" class="form-select mt-1 mb-3 w-25 shadow rounded"
            onchange="isAgree()">
            <option value="0">طالب</option>
            <option value="1">مستثمر</option>
            <option value="2">موظف</option>
        </select>
    </div>
    {% if person.membership %}
    <div class="card m-auto mt-5" style="width: 45rem; height: 30rem">
        <img class="card-img-top object-fit-cover" style="width: 45rem; height: 30rem;"
            src="{{ person.membership.membership_card.url }}" alt="Card image cap">
    </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-outline-warning mt-4 mb-5 shadow rounded" type="submit" name="generate">
            إنشاء بطاقة عضوية جديدة</button>
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="container center">
        <div class="form-group w-50">
            <label class="mt-3 lead" for="passportNumber">أدخل رقم جواز السفر الصحيح لتأكيد السجل أو معرف السجل
                ({{ person.id }}) للرفض </label>
            <input id="passportNumber" name="passportNumber" type="text" class="form-control shadow rounded"
                placeholder="رقم الجواز">
        </div>
        <button class="btn btn-lg btn-success mt-4 mb-5 shadow rounded" type="submit" name="approve">إعتماد</button>
        <button class="btn btn-lg btn-danger mt-4 mb-5 shadow rounded" type="submit" name="decline"
            onclick="return confirm(' هل أنت متأكد من رفض هذا السجل وحذفه تمامًا؟')">
            رفض وحذف
        </button>
    </div>
</form>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    function enableMembershipTypeOption() {
        var selectVal = document.getElementById("membership").value;
        if (selectVal == "0") {
            document.getElementById("membership_type").disabled = true;
        }
        if (selectVal == "1") {
            document.getElementById("membership_type").disabled = false;
        }
    }
</script>
{% endblock scripts %}