{% extends 'base.html' %}
{% block content %}
<div class="container mb-4">
    <div class="mgTp card shadow rounded center col-md-10 col-lg-8 offset-md-3 mt-4"
        style="background-color: rgba(255, 210, 160, 0.2);">
        <div class="rounded-top header-bar"></div>
        <div class="center col-10 py-4">
            <h4 class="alert-heading">{{ formTitle }}</h4>
            <hr style="margin-top: auto;">
            {% if messageType == "close" %}
            <p>
                هذا النموذج لم يعد يقبل الردود. <br>
                حاول التواصل مع الدعم الفني إذا كنت تعتقد أن هناك خطأ.
            </p>
            {% elif messageType == "success" %}
            <p>
                لقد تم تسجيل ردك. <br>
                شكرا على المساهمه.
            </p>
            {% elif messageType == "requireMembership" %}
            <p>
                هذا النموذج مخصص للأشخاص الذين لديهم عضوية مستمرة. <br>
                للاستفسار يرجى الاتصال بالدعم الفني.
            </p>
            {% elif messageType == "restricted" %}
            <p>
                لقد قمتَ بإرسال إجابة مسبقًا. <br>
                هذا النموذج محدود لإرسال إجابة واحدة فقط لكل مستخدم.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}