{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center display-4 p-5">
            أهلا بكم في الموقع الرسمي للجالية اليمنية في إندونيسيا
        </h1>
        <div>
            <img class="rounded-circle center logo img-responsive" style="margin-top: -10px; margin-bottom: -10px;"
                src="{% static 'img/logo.jpg' %}">
        </div>
        <h2 class="text-center p-5">
            إذا كنت أحد اليمنيين المقيمين في إندونيسيا، يرجى التعاون معنا في حصر
            أفراد الجالية اليمنية في إندونيسيا وتعبئة النموذج أدناه
        </h2>
    </div>
    <div class="row p-5">
        <a class="btn btn-lg btn-outline-success shadow rounded" href="{% url 'MemberFormPage' %}">
            <span class="text-center">أفتح النموذج</span>
        </a>
    </div>
    <h5 class="text-center p-3">إذا تم قبول سجلك بعد تعبئة النموذج، يمكنك تسجيل الدخول إلى الموقع من <a
            href="{% url 'Login' %}">هنا</a></5>
</div>
{% endblock content %}