{% extends 'base.html' %}
{% block content %}
<div class="container blockquote mt-4">
    <h1>شروط العضوية</h1>
    <ol type="1">
        <li>ان يكون يمني يقيم في جمهورية إ ندونيسيا إقامة نظامية.</li>
        <li> ألا يقل عمره عن 18 سنة.</li>
        <li>أن يقوم بتسجيل كافة بياناته في الفورم.</li>
        <li>أن يكون انتسابه للجالية بناء على رغبته الذاتية. </li>
        <li>أن يلتزم بكل أنظمة ولوائح الجالية. </li>
        <li>أن يدفع رسوم الانتساب عند التسجيل، وكذلك رسوم الاشتراكات الشهرية (50.000) روبية.</li>
    </ol>
</div>
{% endblock content %}