<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'Index' %}">الجالية اليمنية في إندونيسيا</a>
  <div style="float: left;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {% url 'Index' as index %}
        <a class="nav-link {% if request.path == index %}active{% endif %}" href="{% url 'Index' %}">الصفحة
          الرئيسية</a>
      </li>
      {% if request.user.is_authenticated and request.user.groups.all.0.name == "Manager" %}
      <li class="nav-item">
        <a class="nav-link {% if "Broadcast" in request.path %}active{% endif %}" href="{% url 'BroadcastPage' %}">برودكاست</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if "Monitor" in request.path %}active{% endif %}" href="{% url 'MonitorPage' %}">مراقبة</a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated and request.user.is_superuser %}
      <li class="nav-item">
        {% url 'SettingsPage' as settingsPage %}
        <a class="nav-link {% if request.path == settingsPage %}active{% endif %}" href="{% url 'SettingsPage' %}">اعدادات النظام</a>
      </li>
      {% endif %}
      <li class="nav-item">
        {% url 'MembershipTerms' as membershipTerms %}
        <a class="nav-link {% if request.path == membershipTerms %}active{% endif %}"
          href="{% url 'MembershipTerms' %}">شروط العضوية</a>
      </li>
      <li class="nav-item">
        {% url 'About' as about %}
        <a class="nav-link {% if request.path == about %}active{% endif %}" href="{% url 'About' %}">حول</a>
      </li>
    </ul>
  </div>
  {% if request.user.is_authenticated %}
  <span class="navbar-text text-white">مرحبًا,
    {% if request.user.get_full_name %}{{ request.user.get_full_name }}{% else %}{{ request.user }}{% endif %}</span>
  <span><a class="text-warning nav-item nav-link" href="{% url 'Logout' %}">تسجيل الخروج</a></span>
  {% endif %}
</nav>