مرحبا {{ name }}

نحن نسعد بالإبلاغ عن قَبُول تسجيلك مع الجالية اليمنية في إندونيسيا، شكرا لتعاونكم في التسجيل

{% if hasMembership %}لقد تم ارفاق بطاقة عضويتك بهذا البريد الإلكتروني. {% endif %}يمكنك تسجيل الدخول إلى الموقع باستخدام اسم المستخدم وكلمة المرور التالية
اسم المستخدم: {{ username }}
كلمة المرور: {{ password }}

نطلب منكم أن تعاونون معنا في الوصول إلى أشخاص آخرين من الجالية اليمنية في إندونيسيا بواسطة نشر رابط الموقع على الأفراد اليمنيين في إندونيسيا
http://ycd.ycindo.org

شكرا لدعمكم.

أطيب التحيات
الجالية اليمنية في إندونيسيا

ملاحظة: هذا بريد آلي ، يرجى عدم الرد