{% autoescape off %}
مرحبًا {{ user.get_full_name }}،

نرحب بك في منصتنا! نحن سعداء جدًا بانضمامك إلينا.

لتفعيل حسابك، يُرجى النقر على الرابط التالي:
{{ protocol }}://{{ domain }}{% url 'CompanyUserRegistrationPage' uid token %}

يرجى ملاحظة أن رابط التفعيل سيكون ساريًا لمدة ساعة واحدة فقط.

إذا لم تقم بإنشاء حساب على منصتنا، يُرجى تجاهل هذا البريد الإلكتروني.

_______________________________________________
أطيب التحيات
الجالية اليمنية في إندونيسيا

ملاحظة: هذا بريد آلي ، يرجى عدم الرد

{% endautoescape %}