مرحبا {{ name }}

شكراً على مساهمتكم معنا في تعبئة النموذج، نرجو منكم الانتظار حتى يتم مراجعة سجلكم وسيتم التواصل معكم في حالة وجود أي خطأ في الإدخال
{% if is_request_membership %}سيتم إرسال بطاقة العضوية إلى بريدك الإلكتروني بمجرد أن يتم قبول بياناتك من قبل إدارة الجالية{% endif %}

نطلب منكم أن تعاونون معنا في الوصول إلى أشخاص آخرين من الجالية اليمنية في إندونيسيا بواسطة نشر رابط الموقع على الأفراد اليمنيين في إندونيسيا
http://ycd.ycindo.org

شكرا لدعمكم

أطيب التحيات
الجالية اليمنية في إندونيسيا

ملاحظة: هذا بريد آلي ، يرجى عدم الرد